form input[type="password"] {
    width:70%;
    margin:10px 0 10px 0;
    border:none;
    border-radius:5px;
    padding:5px 10px 5px 10px;
    border:1px solid rgba(0,0,0,0.1);
    color:#6C6C60;
}

form textarea {
    width:30%;
    height: 150px;
    border:none;
    border-radius:5px;
    resize:none;
    margin:10px 0 10px 0;
    border:1px solid rgba(0,0,0,0.1);
    padding:5px 10px 5px 10px;
    color:#6C6C60;
}

form input[type="submit"] {
    width:30%;
    transition:all 0.2s;
    color:#4B536D;
    border-radius: 5px;
}

form input[type="submit"]:hover {
    box-shadow: 0 2px 5px 2px rgba(0,0,0,0.2);
}

form input[type="text"] {
    width:70%;
    border:1px solid rgba(0,0,0,0.1);
    border-radius:5px;
    color:#6C6C60;
    padding:5px 10px 5px 10px;
    margin-top:20px;
}
